// See https://www.nordtheme.com/docs/colors-and-palettes
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

:root {
    --light: $nord0;
    --dark: $nord6;
    --secondary: $nord9;
    --tertiary: $nord3;
    --highlight: $nord3; // was $nord3

    --lightgray: $nord2;
    --gray: $nord3;
    --darkgray: $nord4;

    --primary: $nord8;

    --text-light: $nord1;
    --text-dark: $nord6;

    --hr: $nord3;
}